@import "../../styles/variables";
@import "../../styles/mixins";

.my-decks-page {
  min-height: calc(100vh - 70px);
  background: radial-gradient(circle at center, #1a1a1a 0%, #0a0a0a 100%);
  color: #e0e0e0;
  display: flex;
  flex-direction: column;

  .decks-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: #888;
    font-size: 1.2rem;
  }
}
